* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*header part styling*/
header{
    width: 100%;
    max-width: 1600px;
   
    background-color: #ffffff;
   
}
nav{
    margin: 0px auto;   
     padding: 16px 20px;  
    justify-content: space-between;
    display: flex ;
    
    align-items: center;
}

.menu{
    list-style: none;
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 10px;
    margin-right: auto; 
    justify-content: center; 
    padding-right: 200px;
    padding-left: 200px;
    font-family: Impact, sans-serif;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
}

nav .menu a:hover {
    color:  #21f02c; ; 
    transition: color 0.3s ease, text-decoration 0.3s ease; 
}

nav .menu a{

    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 40px;
    font-family: 'Arial', sans-serif;
    justify-content: center ;
  
}


.nav-button{
    margin-right: auto;
}
.press_me{
   color: white;
  border-radius: 4px;
  padding: 12.5px 16px 12.5px 16px  ;
  font-size: 16px;
  border:4px;
  background-color: #30B868;

    
}

.press_me:hover{
    background-color:  #21f02c; ;
    cursor: pointer;
}

/*body part styling*/   

.hero{
 
    background-color: #a6c1b2;
    padding: 154.5px 341px 200.5px 341px;
    background: url("./assets/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover  ;
    
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
   
}

.content {
    text-align: center;
    max-width: 600px; 
    
}

.early{
    display: flex;
    justify-content: center;  
    align-items: center;      
    width: 229px;
    height: 35px;
    margin: 0 auto;   
}
.early h5{
   background-color: #ffffff;
    padding: 1.5px 6px;
    border-radius: 4px;
    text-align: center
   
}
    
.content h1 {
    font-size: 60px; 
    font-weight: bold;
    margin-bottom: 20px;
    color:rgba(255, 255, 255, 1);
}

span{
    color: rgba(48, 184, 104, 1);
}

.content p {
    font-size: 18px;
    margin-bottom: 30px;
    color:rgba(255, 255, 255, 1);


}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    background-color: #4CAF50; 
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #21f02c; 
}

.clrless{
    background-color: transparent;
    border: 2px solid #ffffff;
    color:white;
     padding: 10px 20px;

}

/*lower part of the hero section */
.under_hero {
    background-color: white;
    padding: 60px 20px;
}
.pera{
    text-align: center;
    margin-bottom: 40px;
}
.under_hero_content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
    padding-left:120px;
    padding-right: 120px;
}

.under_hero_item {
    background-color: #f7f7f7;
    padding: 24px 24px 24px 24px;

    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px auto;
    height: 260px;
    
}

.under_hero_item .icon {
    font-size: 40px;
    margin-bottom: 20px;
}

.under_hero_item h4 {
    font-size: 22px;
    color: #333;
    margin-bottom: 10px;
}

.under_hero_item p {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.under_hero_item .stat {
    font-size: 30px;
    font-weight: bold;
    color: #21f02c;
}

.icon{
    background-color: rgba(249, 85, 85, 1);
    padding:1.5px 1.5px 1.5px 1.5px;
    border-radius: 50%;
    padding: 20px; 
    width: 80px; 
    height: 80px;
    display: flex;
    justify-content: center; 
    align-items: center;
}

/*light image section*/
.light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 120px 120px;
    background-color: #ffffff;
}

.main_light {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
}

.light_image img {
    max-width: 600px; /* adjust the size as needed */
    height: auto;
}

.light_content {
    width: 50%; /* text will occupy half the space */
    padding-left: 20px;
}

.light_content h6 {
    font-size: 18px;
    color: #333;
}

.light_content h2 {
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.light_content h6:last-child {
    font-size: 18px;
    color: #777;
    margin-top: 20px;
}

/* think start from here*/
.think {
    display: flex;
    justify-content:center;
    align-items: center;
    padding:0px 120px 120px 120px;
    margin:0px auto;
    background-color:rgba(255, 255, 255, 1);
}
.outter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 40px 80px 40px;
    background-color: rgba(247, 246, 242, 1);
    width: 1360px;
    height: 384px;
}

.inner {
    text-align: center; 
    max-width: 600px; 
    background-color: rgba(247, 246, 242, 1);
    width: 80%; 
    height: 120px;
}

.inner h2,h5{
    margin-bottom: 20px;

}
.inner button{
    margin-bottom: 15px;
}