* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    width: 100%;
    max-width: 1600px;
   
    background-color: #ffffff;
   
}
nav{
    margin: 0px auto;   
     padding: 16px 20px;  
    justify-content: space-between;
    display: flex ;
    
    align-items: center;
}

.menu{
    list-style: none;
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 10px;
    margin-right: auto; 
    justify-content: center; 
    padding-right: 200px;
    padding-left: 200px;
    font-family: Impact, sans-serif;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
}
nav .menu a{

    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 40px;
    font-family: 'Arial', sans-serif;
    justify-content: center ;
  
}
.nav-button{
    margin-right: auto;
}
.press_me{
   
  border-radius: 4px;
  padding: 12.5px 16px 12.5px 16px  ;
  font-size: 16px;
  border:4px;
  background-color: #30B868;

    
}